@charset "UTF-8";

:root {
	--base-text-color: #666;
	--main-color: #A2BB9E;
	--basic-color: #fff;
	--sub-color: #000;	
}

* {
	margin: 0;
	padding: 0;
}

/* ==========  basic  ========= */
ul, li {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
	color: #000;
}
a {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: none;
	color: #000;
}
p, h1, h2, h3, h4, h5 ,h6 {
	text-align: center;
	font-size: 1vw;
}

/* ==========  class  ========= */
.back-grey {
	background-color: grey;
}
.back-blue {
	background-color: blue;
}
.container {
	width: 1190px;
	margin: 0 auto;
}
.container-login {
	width: 480px;
	margin: 0 auto;	
	position: relative;
}
.curser-pointer {
	cursor: pointer;
}
.margin-auto {
	margin: 0 auto;
}
.mt-15 {
	margin-top: 15rem;
}
.mt-10 {
	margin-top: 10rem;
}
.mt-5 {
	margin-top: 5rem;
}
.mt-1 {
	margin-top: 1rem;
}
.fs-3 {
	font-size: 3vw;
}
.fs-2 {
	font-size: 2vw;
}
.fs-15 {
	font-size: 1.5vw;
}
.fs-1 {
	font-size: 1vw;
}
.d-none {
	display: none !important;
}
.pos-absolute {
	position: absolute;
}
.pos-relative {
	position: relative;
}
.pos-fixed {
	position: fixed;
}
.text-left {
	text-align: left;
}
.overflow-scroll {
	overflow: auto;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/* ==========  script  ========= */

