@charset "UTF-8";
@import "reset.css";


/* ==========================================================================================
										basic
========================================================================================== */
/* ============  header  ============= */
header {
	width: 1190px;
	height: 211px;
}
.logo-header {
	width: 208px;
	height: 96px;
	margin: 0 auto;
}
#navSub-top {
	display: flex;
	margin-top: 30px;
	overflow: hidden;
}
.personal-nav {
	display: flex;
	flex: 4;
}
.personal-nav li {
	margin: 40px 0 0 50px;
}
.burger-out {
	display: flex;
	flex: 4;
}
#burger {
	width: 40px;
	height: 28px;
	padding: 10px;
	margin: 15px 0 0 380px;
	background-color: var(--base-background-color);
	cursor: pointer;
	overflow: hidden;
	z-index: 10;
}
#line {
	width: 36px;
	height: 4px;
	margin: 8px auto;
	background-color: #000;
	transition-duration: 0.5s;
	border-radius: 5px;
}
.ham-top {
	transform: translateY(12px) rotate(45deg);
	transform-origin: center;
}
.ham-mid {
	opacity: 0;
}
.ham-btm {
	transform: translateY(-12px) rotate(-45deg);
	transform-origin: center;
}

.logo-header {
	flex: 2;
	margin: 0 auto;
}

#navMain-top {
	width: 1190px;
	height: 50px;
	margin-top: 35px;
	background-color: var(--sub-background-color);
}
.content-nav {
	display: flex;
	column-gap: 3rem;
}
.content-nav li {
	margin: 1rem auto;
}

/* ============  aside  ============= */
aside {
	margin-top: 143px;
}
.navMain-bottom {
	display: flex;
}
.personalNav-bottom {
	display: flex;
	margin-left: 102px;
}
.personalNav-bottom li img {
	width: 135px;
	height: 64px;
}
.personalNav-bottom li:nth-child(2) {
	margin-left: 78px;
}
.businessNav-bottom {
	display: flex;	
	margin-left: 290px;
}
.businessNav-bottom li img {
	width: 135px;
	height: 64px;
}
.businessNav-bottom li:nth-child(2) {
	margin-left: 78px;
}
.navSub-bottom {
	margin: 35px 0 10px 419px;
} 
.navSub-bottom ul {
	display: flex;
}
.navSub-bottom ul li {
	margin-left: 27px;
}
.border-bot {
	border-bottom: 1px solid #675E5E;
}

/* ============  footer  ============= */
footer {
	text-transform: uppercase;
}
.footer-nav {
	margin: 10px 0 0 10px;
	display: flex;
}
.footer-nav ul {
	margin: 0 auto;	
}
.footer-nav ul:first-child {margin-left: 0;}
.footer-nav ul:last-child {margin-right: 0;}
.policy {
	font-size: .5rem;
	column-gap: 2rem;
	display: flex;
}
.snsIcon {
	display: flex;
	float: right;
}
.snsIcon li {
	width: 40px;
	height: 40px;
}
.snsIcon img {
	width: 40px;
	height: 40px;
}
.interest ul{
	font-size: .5rem;
	display: flex;
	column-gap: 2rem;	
	margin: 0 0 0 10px;
}
.footSign {
	margin: 2rem auto;
	font-size: 1rem;
	font-weight: 600;
}

/* ==========================================================================================
									index.html
========================================================================================== */
/* ============  section  ============= */
section {
	margin-top: 19px;
}
/* firstLine article */
.firstLine {
	display: flex;
}
.groupBuying {
	width: 714px;
	height: 349px;
	margin-left: 10px;
	background-color: var(--sub-background-color);
}
.weeklyChallenge {
	width: 423px;
	height: 349px;
	margin-left: 33px;
	background-color: var(--sub-background-color);
}
.secondLine {
	margin-top: 33px;
	display: flex;
}
.chefChallenge {
	width: 423px;
	height: 349px;
	margin-left: 10px;
	background-color: var(--sub-background-color);	
}
.magazine {
	width: 714px;
	height: 349px;
	margin-left: 33px;
	background-color: var(--sub-background-color);	
}



/* ============  media  ============= */

@media screen and (max-width: 1190px) {
	.container {
		width: 100%;
		object-fit: cover;
	}
}